language: cpp
compiler:
   - gcc
   - clang
  os:
   - linux
   - osx
before_install:
   - sudo apt-get update -qq
   - sudo apt-get install -y openmpi-bin
   - sudo apt-get install -y libboost-all-dev
   - sudo apt-get install -y fftw3-dev
script:
   - cd tools
   - chmod +x build_k52_run_examples.sh
   - ./build_k52_run_examples.sh
