# The pathes to the library third party libraries should be defined here
set(BOOST_ROOT "")
set(ALGLIB_ROOT "")

#This settings defines, what types of libraries will be build for k52
#Allowed values are:
#"Static" (default, if no or invalid setting is used)
#"Dynamic"
#"DynamicAndStatic"
set(BUILD_K52_LIBRARY_TYPE "Static")
