# The pathes to the library third party libraries should be defined here
set(BOOST_ROOT "")
set(FFTW3_ROOT "")

#This settings defines, what types of libraries will be build for k52
#Allowed values are:
#"Static" (default, if no or invalid setting is used)
#"Dynamic"
#However, "Dynamic" is not yet officially supported,
#because on Windows it requires significant code 
#refactoring according to http://www.cmake.org/Wiki/BuildingWinDLL
set(CMAKE_CXX_STTANDARD 11)
set(BUILD_K52_LIBRARY_TYPE "Static")
